h2{text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: larger;
    }
.Unemployment{
justify-content: right;
font-size: larger
}
.Unemployment table {
    padding: 15px;
}
.Unemployment td,tr {
    padding-left: 30px;
    padding-right: 20px;
}
.Benefits{
    font-size: larger;    
}
.Benefits table {
    padding: 15px;
}
.Benefits td,tr {
    padding-left: 30px;
    padding-right: 20px;
}
.Vet{
    font-size: larger;  
}
.Vet table {
    padding: 15px;
}
.Vet td,tr {
    padding-left: 30px;
    padding-right: 20px;
}

.Jobby{
    justify-content: right;

}
.Jobby ul{
    font-size: larger;  
}
.Jobby table {
    padding: 15px;
}
.Jobby td,tr {
    padding-left: 30px;
    padding-right: 20px;
}
.popchop{
    display: flex;
    justify-content: right;
}