<<<<<<< HEAD
=======
.nav {
  list-style-type:none;
  margin: 15px;
  padding: 0;
  overflow: hidden;
  display:flex;
  direction:row;
  justify-content:space-between;
  background-color: rgb(206, 169, 255);
  color: blue;
  padding:15px;
  font-weight: bold;
  text-decoration: none;
}
.home{
  margin-top: 20px;
  margin-left:15px;
  margin-right:25px;
}
.shelter{
  margin-top: 20px;
  margin-left:50px;
  margin-right:50px;
}
.job{
  margin-top: 20px;
  margin-left:80px;
  margin-right: 60px;
}

.edu{
  margin-top: 20px;
  margin-left:50px;
  margin-right:50px;
}

.health{
  margin-top: 20px;
  margin-left:50px;
  margin-right:0px;
}

.grid-container {
  display: flex;
  justify-content: flex-end;
  grid-template-areas:
  'nav' ;
  gap: 10px;
  padding: 10px;
  text-align: center;
  padding: 0px 0px;
  font-size: 30px;
  grid-auto-rows: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}
.navbar {
  float: left;
  display: block;
  width: 100%;
}



body {
  margin-left: 0;
  margin-right: 0;
  background-image: url('anaimgs/purplogo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
text-align: center;
}
>>>>>>> 85538954731f2c5b406baf778b0a8f623ab57ae2
